<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='germany-favicon.png') }}" type="image/png" />
    <title>Privacy Policy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <br/>
          <button onclick="window.history.back()">Back</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
        <h3>Princeton University</h3>
        <h4>"Politik und Medien"</h4>

        <h2>Twitter Datenschutzerklärung</h2>

        <p>Das Teilen Ihrer Daten mit einem Forscherteam der Humboldt-Universität zu Berlin und Partneruniversitäten ist freiwillig. Diese Datenschutzerklärung erläutert die Vertraulichkeit Ihrer Teilnahme. Die Informationen, die Sie teilen können, sind begrenzt, werden sicher verwahrt und bleiben vertraulich.</p>

        <p>Wenn Sie damit einverstanden sind, diese Anwendung (App) zu installieren, werden die Forscher sie verwenden, um Daten zu sammeln, die Sie in Ihrem Twitter-Profil zur Verfügung stellen. Bevor Sie Zugang erlauben, können Sie auswählen, welche Informationen Sie mit den Forschern teilen oder nicht teilen möchten.</p>

        <p>Daten, die durch diese App gesammelt werden, werden auf einem verschlüsselten EU-Server gespeichert. Die Forschergruppe wird die Daten verwenden, um anhand statistischer Auswertungen zu untersuchen, wie Menschen Twitter nutzen, um sich über Nachrichten und öffentliche Angelegenheiten zu informieren und darüber zu kommunizieren. Nachdem diese statistischen Auswertungen erstellt wurden, werden Ihre Daten, die durch diese Anwendung gesammelt werden, wieder vom Server gelöscht.</p>

        <p>Wenn Sie diese App autorisieren, wird die Anwendung nach nicht mehr als zwei Monaten aufhören zu arbeiten. Sie sammelt die Informationen, für deren Freigabe Sie die Zustimmung erteilen, und kann diese Informationen erneut sammeln, bevor die App nach höchstens zwei Monaten aufhört zu arbeiten. Sie können die App jederzeit löschen, nachdem Sie sie autorisiert haben.</p>

        Die Verwendung dieser App wird weder in Ihrem Profil noch Ihre Timeline angezeigt und erscheint auch nicht Ihren Freunden. Die App veröffentlicht keine Informationen über Ihre Timeline. Die App greift nicht auf die Profilinformationen von Freunden, Gruppen oder anderen Informationen zu, die mit Ihrer Profilseite verknüpft sind. Die Forscher werden nie Ihr Passwort oder Login-Informationen sehen.

        <p>Das Forscherteam wir die von Ihnen geteilten Informationen niemals nutzen, um Ihnen Nachrichten, Anzeigen oder Kommunikation durch Dritte zu senden. Daten, die durch diese App gesammelt werden, werden streng vertraulich behandelt. Das Forscherteam wird keine von dieser App gesammelten Informationen, die Sie persönlich identifizierbar machen, an andere Personen weitergeben oder verbreiten.</p>
      </div>
    </div>

      <hr>

      <footer>
        <!-- <p>&copy; New York University 2015</p> -->
        <!-- <p>&copy; Stanford University, National Public Life Survey 2016</p> -->
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>