<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='germany-favicon.png') }}" type="image/png" />
    <title>Privacy Policy</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <br/>
          <button onclick="window.history.back()">Back</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
        <h3>Princeton University</h3>
        <h4>"Politics and Media"</h4>

        <h2>Confidentiality</h2>

        <p>Use of the Twitter sharing application will not show up on your profile, your timeline, or appear to your followers. The applications will not publish information on your timeline. Princeton University will never use any information collected through these applications to send you messages, advertisements, or any third-party communication.</p>

        <p>All data from this study will be kept confidential. Your responses will be kept private, and we will not include any information that will make it possible to identify you in any report we might publish. Your survey responses from this and previous waves you have participated in will be merged with social media data if provided, but we will not save information that could identify you using either type of data. Research records will be stored securely on password-protected computers. The research team will be the only party that will have access to your data.</p>
      </div>
    </div>

      <hr>

      <footer>
        <!-- <p>&copy; New York University 2015</p> -->
        <!-- <p>&copy; Stanford University, National Public Life Survey 2016</p> -->
      </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>