<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="{{ url_for('static', filename='jumbotron.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='germany-favicon.png') }}" type="image/png" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- <img src="{{url_for('static', filename='anes_logo.jpg')}}"/> -->
    <img src="{{url_for('static', filename='logo-polmed-us.png')}}" style="width: 800px;"/>
    <h4>Thanks, {{ name }}!</h4>

    <hr>

    <footer>
      <!-- <p>&copy; New York University 2015</p> -->
      <!-- <p>&copy; Stanford University, National Public Life Survey 2016</p> -->
    </footer>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>